
body {
  height: 100vh;
  display: flex;
  background: #6c7074;
}

.cardContainer{
    display:flex;
    justify-content:center;

}

.front-face{
  width: 300px;
  height: 450px;

}

.back-face{
  width: 350px;
  height: 450px;
}


body{

display: flex;


}

h1{

  display: flex;

}
